<div class="cTitle">
    <h1>修改密码</h1>
    <p>当前位置：<span class="text-danger" ng-bind="text"></span></p>
</div>
<div class="cWrapper password">
    <form class="form-horizontal" name="ModifyPwdForm" action="" method="POST">
        <div class="col-md-8">
            <div class="form-group">
                <label class="col-sm-2 control-label">初始密码</label>
                <div class="col-sm-6">
                    <input type="password" name="OldPass" class="form-control" ng-model="userdata.OldPass" required>
                </div>
                <div class="col-sm-4">
                    <!-- <p class="success" ng-if=""><i class="fa fa-check"></i></p>
                    <p class="error" ng-if=""</p> -->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" ng-model="userdata.password" ng-minlength="6" ng-maxlength="12" required>
                </div>
                <div class="col-sm-4">
                    <p class="success" ng-if="
                        ModifyPwdForm.password.$valid">
                        <i class="fa fa-check fa-lg"></i>OK
                    </p>
                    <p class="error" ng-if="
                        ModifyPwdForm.password.$error.required &&
                        ModifyPwdForm.password.$touched">
                        <i class="fa fa-close fa-lg"></i>密码不能为空
                    </p>
                    <p class="error" ng-if="
                        (ModifyPwdForm.password.$error.minlength || 
                        ModifyPwdForm.password.$error.maxlength) &&
                        ModifyPwdForm.password.$touched">
                        <i class="fa fa-close fa-lg"></i>密码长度应在6到12位之间
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password2" class="form-control" ng-model="userdata.password2" compare="userdata.password" required>
                </div>
                <div class="col-sm-4">
                    <p class="success" ng-if="
                        ModifyPwdForm.password2.$valid">
                        <i class="fa fa-check fa-lg"></i>OK
                    </p>
                    <p class="error" ng-if="
                        ModifyPwdForm.password2.$error.compare &&
                        ModifyPwdForm.password2.$touched">
                        <i class="fa fa-close fa-lg"></i>两次密码输入不一致
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-disabled="ModifyPwdForm.$invalid">保存</button>
                </div>
            </div>
        </div>
    </form>
</div>
